name: CI - Test & Publish Image

on:
  push:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'maven'

      - name: Run tests and generate full Maven site
        run: mvn -U clean verify site

      - name: Publish full HTML report (Maven Site)
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./target/site

  build-and-push:
    needs: test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: |
          docker build -t daviduyaguarij/backend-microservice:${{ github.sha }} .

      - name: Push image
        run: |
          docker push daviduyaguarij/backend-microservice:${{ github.sha }}

      - name: Tag latest
        run: |
          docker tag daviduyaguarij/backend-microservice:${{ github.sha }} \
                     daviduyaguarij/backend-microservice:latest
          docker push daviduyaguarij/backend-microservice:latest
